%%% -*- mode: erlang -*-
%%% $Header: /home/d/debleek/axolotl/rebar.config,v 3.0 2015/11/24 14:55:25 debleek Exp $
%%% $Revision: 3.0 $'

% {require_otp_vsn, "R17"}.

{sub_dirs, []}.

{eunit_opts, [verbose, {skip_deps, true}]}.
{eunit_exclude_deps, true}.
{cover_enabled, true}.

%{erl_opts, [debug_info]}.


%% Where to put any downloaded dependencies. Default is "deps"
{deps_dir, "deps"}.

{deps, [
	{gpb, ".*", {git, "git@github.com:tomas-abrahamsson/gpb.git", "master"}},
	{curve25519, ".*", {git, "git://github.com/schnef/curve25519.git", "master"}},
	{hkdf, ".*", {git, "git://github.com/schnef/hkdf.git", "master"}},
        {reloader, ".*", {git, "git://github.com/schnef/reloader.git", "master"}}
       ]
}.

{edoc_opts, [{includes, ["deps/gpb/include"]}, {preprocess, true}, 
	     {private, false}, {todo, true}]}.

{pre_hooks,
 [{compile, "mkdir -p include"}, %% ensure the include dir exists
  {compile,
   "deps/gpb/bin/protoc-erl -I`pwd`/proto -o-erl src -o-hrl include `pwd`/proto/*.proto"
  }]}.

{post_hooks,
 [{clean,
   "bash -c 'for f in proto/*.proto; "
   "do "
   "  rm -f src/$(basename $f .proto).erl; "
   "  rm -f include/$(basename $f .proto).hrl; "
   "done'"}
 ]
}.

{erl_opts, [{i, "deps/gpb/include"}]}.
